<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .input-field {
            display: grid;
            padding: 10px;
            background: #191919;
            width: 25rem;
            text-align: center;
            justify-content: center;
            color: white;
            font-family: 'Courier New', Courier, monospace;
        }
        .input-field input {
            background: none;
            color: white;
            margin: 2px;
        }

        
        

    </style>
</head>
<body>
    <form action="#" method = "POST">
        <div class = "input-field">
            <h1>Login</h1>
            <input type="text" placeholder = "Enter your username">
            <input type="password" placeholder = "Enter your password">

            <input type="submit" value = "Login">
        </div>
    </form>
</body>
</html>